<br />
<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Üniversite Güncelle</h5>
        <div class="card-body">
          <form *ngIf="univercity" [formGroup]="UnivercityUpdateForm">
            <div class="mb-3">
              <label for="univercityName">Üniversite Adı</label>
              <div class="form-group">
                <input
                  type="text"
                  id="univercityName"
                  formControlName="univercityName"
                  class="form-control"
                  placeholder="{{ univercity.univercityName }}"
                />
              </div>
            </div>

            <div class="mb-3">
              <label for="univercityRector">Üniversite Rektörü</label>
              <div class="form-group">
                <input
                  type="text"
                  id="univercityRector"
                  formControlName="univercityRector"
                  class="form-control"
                  placeholder="{{ univercity.univercityRector }}"
                />
              </div>
            </div>

            <div class="mb-3">
              <label for="cityId">Şehir Id</label>
              <div class="form-group">
                <input
                  type="number"
                  id="cityId"
                  formControlName="cityId"
                  class="form-control"
                  placeholder="{{ univercity.cityId }}"
                />
              </div>
            </div>

            <div class="mb-3">
              <label for="starCount">Yıldız Sayısı</label>
              <div class="form-group">
                <input
                  type="number"
                  id="starCount"
                  formControlName="starCount"
                  class="form-control"
                  placeholder="{{ univercity.starCount }}"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="univercityDescription">Üniversite Açıklaması</label>
              <div class="form-group">
                <input
                  type="text"
                  id="univercityDescription"
                  formControlName="univercityDescription"
                  class="form-control"
                  placeholder="{{ univercity.univercityDescription }}"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-fill btn-success" (click)="univercityUpdate()">
            Güncelle
          </button>
        </div>

    </div>
    <form [formGroup] = "UnivercityImageAddForm" class="form col-md-10">
      <div class="mb-3">
          <input
            type="file"
            id="univercityImageAdd"
            name="univercityImageAdd"
            accept="image/x-png, image/jpeg"
            class="form-control"
            formControlName="Image"
            (change)="onFileSelected($event)"
          />
        </div>
  </form>
  <div class="col-md-2">
      <button type="submit" class="btn btn-primary" (click)="addImage()">
        Yukle
      </button>
  </div>
  </div>
</div>
