<br>
<table *ngIf="users" class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">İsim</th>
        <th scope="col">Soyad</th>
        <th scope="col">Email</th>
        <th scope="col">Yetkiler</th>
        <th scope="col">Sil</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th *ngIf="user" scope="row">{{user.id}}</th>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>
          <button
            type="button"
            class="btn btn-success btn-sm"
            routerLink="/main/usersettings/{{user.id}}"
            ><i class="bi bi-pencil-square" ></i> Yetkiler</button
          >
        </td>
        <td>
          <a
            type="button"
            class="btn btn-warning btn-sm"
            (click)="userDelete(user)"
            ><i class="bi bi-pencil-square"></i> Sil</a
          >
        </td>
      </tr>
    </tbody>
  </table>