<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/main">ÜniApp◄</a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/main/univercity">
              Üniversiteler
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Üniversite İşlemleri
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/main/univercityadd" >Ekle</a></li>
              <li><a class="dropdown-item" href="#"></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/main/univercitylist">Listele</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Kullanıcı İşlemleri
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/main/usersettings" >Listeleme</a></li>
            </ul>
          </li>
          <li class="nav-item ">
            <a class="nav-link " routerLink="/main/about" role="button">
             Hakkında
            </a>
          </li>
          
        </ul>
      </div>
      <form *ngIf="userInfo" class="d-flex">
         <a  class="navbar-brand" routerLink="/main/profile/{{user}}" >Hoşgeldiniz {{userInfo.firstName+" "+userInfo.lastName}} </a>
        </form>
    </div>
  </nav>
