
<div *ngIf="univercity" class="container">
<div class="card text-center">
  <div class="card-header">
    <img src="{{baseApiUrl}}{{univercity.univercityImage}}" style="width: 300px;height: 300px;">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/main/onlyunivercity/{{univercity.univercityId}}" aria-current="true">Genel Bilgiler</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/main/onlyunivercity/{{univercity.univercityId}}/comments/{{univercity.univercityId}}">Yorumlar</a>
      </li>
      <li class="nav-item">
        <a *ngIf="isFollowing; else elseBlock" (click)="unFollow()" class="nav-link disabled"  tabindex="-1" aria-disabled="true">Takip Etme</a>
        <ng-template #elseBlock>
          <a class="nav-link " (click)="follow()"  tabindex="-1" aria-disabled="true">Takip Et</a>
        </ng-template>
      </li>
    </ul> 
  </div>
  <router-outlet></router-outlet>
</div>
</div>


