
<div class="container">
<div class="card text-center">
  <div class="card-header">
    <img src="{{baseApiUrl}}{{univercity.univercityImage}}" style="width: 300px;height: 300px;">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/main/onlyunivercity/{{univercity.univercityId}}" aria-current="true">Genel Bilgiler</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/main/onlyunivercity/{{univercity.univercityId}}/comments">Yorumlar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled"  tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul> 
  </div>
  <router-outlet></router-outlet>
</div>
</div>


