
<div class="image"  style="background-image: url(assets/img/bg.jpg);">
      <div class="container col-xl-10 col-xxl-8 px-4 py-5"style="justify-content: center;margin-top: 10px;">
        <div class="row align-items-center g-5 py-5">
          <div class="col-lg-7  ">
            <h1 class="display-4 fw-bold lh-1 mb-3">UniApp</h1>
            <p class="col-lg-10 fs-4"> Üniversitelere göz atmak için hemen giriş yapın.</p>
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="assets/img/uniapp.png" class="w-100" alt="...">
          </div>
        
          <div class="col-8 col-lg-5">
            <h5 >Giriş Yap</h5>
            <form [formGroup]="loginForm" class="p-5 border rounded-5 bg-light">
              <div class="form-floating mb-2">
                <label for="">E-postanız</label> 
                <input
                  formControlName="email"
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="E-Posta"
                />
              </div>
              <div class="form-floating mb-2">
                <label for="">Şifreniz</label> 
                <input
                  formControlName="password"
                  type="password"
                  class="form-control"
                  id="floatingPassword"
                  placeholder="Parola"
                />
              </div>
              <div class="checkbox mb-3"></div>
              <button
                class="w-100 btn btn-lg btn-primary"
                (click)="login()"
                type="submit"
              >
                Giriş Yap
              </button>
              <hr class="my-4" />
              <p class="card-text bg-light" style="transform: rotate(0)">
                Hala bir hesabının yok mu?
                <a routerLink="/register" class="text-primary stretched-link"
                  >Kaydol</a
                >'a tıklayarak hemen kaydolun.
              </p>
            </form>
          </div>
        </div>
      </div>
     </div> 
