<body class="text-center">
    
    <main class="form-signin">
      <form [formGroup]="loginForm" >
        <h1 class="h3 mb-3 fw-normal">Giriş Yap</h1>
        <div class="form-floating">
          <input formControlName="email" [(ngModel)]="email" 
          type="email" class="form-control" id="floatingInput" 
          placeholder="isim@ornek.com">
        </div>
        <div class="form-floating">
          <input formControlName="password" 
          type="password" class="form-control" 
          id="floatingPassword" placeholder="şifre">
          
        </div>
    
        <button class="w-100 btn btn-lg btn-primary" (click)="login()">Giriş yap</button>
        <label routerLink="/register">Üye Değil Misin?<b>Kayıt Ol</b></label>
      </form>
    </main>
    
    
        
      </body>
