<div class="card mb-3" style="max-width:max-content;">
    <div class="row g-0">
      <div class="col-md-2">
        <img src="../../img/userdefault.jpg" alt="user"/>
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{user.firstName}}  {{user.lastName}}</h5>
          <p class="card-text">{{user.email}}</p>
        </div>
      </div>
    </div>
    <button class="btn btn-danger" (click)="clearLocalStorage()">Çıkış yap</button>
  </div>

